<p>Register</p>
<section>
    <form [formGroup]="registerForm" (submit)="registerUser()">
      <input id="first-name" type="text" formControlName="firstName" placeholder="Name">
      <input id="last-name" type="text" formControlName="lastName" placeholder="Surname">
      <input id="phone-number" type="text" formControlName="phoneNumber" placeholder="Phone number">
      <input id="password" type="text" formControlName="pin" placeholder="Password">
      <button class="primary" type="submit">Register</button>
    </form>

    <p>Already have an account, <a [routerLink]="['/login']"> login here </a> </p> 
</section>